/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    align-items:
}

/* Style the links inside the navigation bar */
.topnav a {
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: helvetica;
    font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;

}

.jumbotron {
  background color: ;
  background-image: url("file:///home/user/Desktop/MORINGA/Portfolio/images/nicole_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  height: 100px;
}

.container-fluid {
  height: 700px;
  color: #FFF;
  font-size: 100px;
  font-family: helvetica;
  text-align: center;

}

#aboutme {
  height:400px;
  background-size: cover;
  background-color: #ffffff;
  opacity: 0.7;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  border: 30px solid #000000;
  padding-left: 50px;
  padding-right: 50px;

}

#projects {
  height:400px;
  background-color: #ffffff;
  opacity: 0.7;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  border: 30px solid #000000;
  padding-left: 50px;
}

#contacts {
  height: 400px;
  background-color:  #ffffff;
  opacity: 0.7;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  border: 30px solid #000000;
  padding-left: 50px;

}

h1 {
  font-size: 100px;
  font-family: helvetica, sans-serif;
  color: #000000;
  position: relative;
  left: 0;
  top: 50%;
  bottom: 50%
  width:100%;
  text-align: center;
  font-weight: bolder;


}

h3 {
  font-size: 60px;
  font-weight: bold;
  font-family: helvetica;
}
