/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    align-items:
}

/* Style the links inside the navigation bar */
.topnav a {
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;

}

.jumbotron {
  background color: ;
  background-image: url("file:///home/user/Desktop/MORINGA/Portfolio/images/nicole_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  height: 100px;
}

.container-fluid {
  height: 700px;
  color: #FFF;
  font-size: 100px;
  font-family: helvetica;
  text-align: center;

}

.aboutme {
  height:400px;
}

.myprojects {
  height:400px;
}
